[user]
	name = Ches Martin
	email = ches@whiskeyandgrits.net
	signingkey = 23D618B53AB8209FF172C0706E5CD3ED8638EE95
[alias]
	br = branch
	co = checkout
	s = status --short
	st = status
	stat = status
	ci = commit
	civ = commit -v
	cim = commit -m
	cia = commit -a -m
	amend = commit -a --amend -C HEAD
	unstage = reset HEAD
	df = diff
	dc = diff --cached
	vdiff = !git diff | view -
	who = shortlog -s --
	lg = log -p
	ll = log --graph --pretty=format:'%C(blue)%h %C(green)%d%Creset %s  %C(black bold)%an, %ar%Creset'
	glog = log --graph --stat --decorate
	# 'show' does the same, I just like to have a common alias with Mercurial
	last = log -1 -p HEAD
	recent = log --relative --abbrev-commit --date=local --pretty=format:'%C(white)%h %C(cyan)%cr %C(green)by %cn %Creset%n%C(yellow)%cd%n%s' --stat -5
	info = remote show origin
	remotes = remote -v
	tags = tag -l -n

	k = !gitk
	ctags = !.git/hooks/ctags
	edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; $EDITOR `f`"
	add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	ignored = !git ls-files -v | grep \"^[[:lower:]]\"
	ls-ignored = ls-files --others --ignored --exclude-standard
	up = !sh -c 'git pull && git log --pretty=format:"%Cred%ae %Creset- %C(yellow)%s %Creset(%ar)" HEAD@{1}..'

[branch]
	autosetupmerge = true
[core]
	whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
	autocrlf = false
[init]
	templatedir = ~/.config/git/templates
[rebase]
	autosquash = true
[rerere]
	enabled = true
[status]
	submodulesummary = 1

[diff]
	tool = vimdiff
	guitool = gvimdiff
[difftool]
	prompt = false
[merge]
	summary = true
	tool = vimdiff
[mergetool]
	prompt = false
[mergetool "kdiff3"]
	trustExitCode = false
	keepBackup = false

[color]
	ui = auto
[color "branch"]
	current = yellow
	remote = magenta
[color "diff"]
	whitespace = red reverse
[color "sh"]
	workdir = green bold
	branch = cyan reverse
[gui]
	fontdiff = -family Monaco -size 11 -weight normal -slant roman -underline 0 -overstrike 0

[github]
	user = ches
[instaweb]
	httpd = webrick
	port = 8000
[web]
	browser = open

# vim:set noexpandtab sw=4 ts=4:
