[user]
	name = Ches Martin
	email = ches.martin@gmail.com
[color]
	ui = auto
[alias]
	ci = commit
	co = checkout
	st = status
	stat = status
	br = branch
	sh = !git-sh
	last = log -1 -p HEAD
[merge]
	summary = true
[core]
	excludesfile = /Users/ches/.gitignore
	editor = mate -w
[git-tmbundle]
	gitx-path = /Applications/Development/GitX.app/Contents/Resources/gitx
[git-tmbundle "log"]
	limit = 100
[github]
	user = ches
	token = 233e3e2bfd41621c81064641e783aec3
[color "sh"]
	workdir = green bold
	branch = cyan reverse
[gui]
	fontdiff = -family Monaco -size 11 -weight normal -slant roman -underline 0 -overstrike 0
[branch]
	autosetupmerge = true
[instaweb]
	httpd = webrick
	port = 8000
