# TODO: can I make these automatically include current filetype comment marker?

snippet todo "TODO"
TODO: $0
endsnippet

snippet fix "FIXME"
FIXME: $0
endsnippet

snippet note "NOTE"
NOTE: $0
endsnippet

snippet optim "OPTIMIZE"
OPTIMIZE: $0
endsnippet
