# No Elixir snippets in UltiSnips at time of this writing, these extend/override
# Snipmate snippets from vim-snippets.

snippet defw "def ... when (function def with guard)" b
def ${1:name}(${2:params}) when ${3:guard} do
	$4
end
endsnippet
