"*":
  Ensime:
    sbtExec: "/Users/ches/bin/sbt"
    typecheckWhen: "save"
  "atom-ctags":
    cmd: "ctags"
    cmdArgs: "--tag-relative --recurse -f .git/tags --exclude=.git"
    extraTagFiles: ".git/tags"
  "atom-typescript": {}
  "autocomplete-erlang":
    elixirPath: "/usr/local/bin/elixir"
  "autocomplete-php": {}
  "autocomplete-plus": {}
  "autocomplete-python":
    useSnippets: "required"
  "autocomplete-ruby": {}
  "base16-syntax":
    scheme: "Eighties"
  build:
    stealFocus: false
  "build-cargo": {}
  core:
    disabledPackages: [
      "linter-gotype"
      "sourcegraph-atom"
      "platformio-ide-terminal"
      "platformio-ide"
      "linter-scalac"
      "symbols-view"
      "tabs"
    ]
    packagesWithKeymapsDisabled: [
      "racer"
    ]
    projectHome: "~/src"
    telemetryConsent: "limited"
    themes: [
      "nucleus-dark-ui"
      "gruvbox"
    ]
  dash:
    grammars:
      Python: [
        "py"
      ]
  docblockr:
    indentation_spaces_same_para: 3
  editor:
    fontFamily: "Inconsolata"
    invisibles: {}
    lineHeight: 1.4
    scrollPastEnd: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
  "exception-reporting":
    userId: "9f35f77d-b182-15f2-cad2-98458372d0e0"
  "git-diff":
    showIconsInEditorGutter: true
  "git-plus":
    wordDiff: false
  "go-oracle":
    oraclePath: "~/src/go/bin/oracle"
  "go-plus":
    goPath: "~/src/go"
  "haskell-ghc-mod":
    additionalPathDirectories: [
      "~/.local/bin"
      "~/.cabal/bin"
    ]
  "highlight-line":
    underline: "dotted"
  "ide-haskell":
    cabalPath: "~/.cabal/bin/cabal"
    onCursorMove: "Show Tooltip"
  linter: {}
  "linter-gotype": {}
  "linter-pep8": {}
  "linter-phpcs": {}
  "markdown-preview": {}
  "merge-conflicts":
    gitPath: "/usr/local/bin/git"
  "one-dark-ui": {}
  "platformio-ide":
    useBuiltinPlatformIO: false
  "platformio-ide-terminal": {}
  "project-manager":
    sortBy: "group"
  racer:
    racerBinPath: "~/.cargo/bin/racer"
    rustSrcPath: "~/src/rust/rust/src/"
  "sourcegraph-atom":
    highlightReferencesInFile: false
  "status-bar": {}
  "symbols-tree-view": {}
  tabs:
    alwaysShowTabBar: false
    enableVcsColoring: true
  "terminal-plus":
    core: {}
    style: {}
  "tool-bar":
    position: "Right"
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode":
    useSmartcaseForSearch: true
  "vim-surround":
    surroundCommand: "S"
  welcome:
    showOnStartup: false
".lua.source.tts":
  editor:
    tabLength: 4
".scala.source":
  editor:
    tabLength: 2
".source.ts":
  editor:
    tabLength: 4
".source.tsx":
  editor:
    tabLength: 4
